body{
    background-color : rgb(33, 33, 33);
    background-size: cover;
    margin: 0px;
}
h1{
    color: rgb(220,220,220);
    text-align: center;
}
h2{
    color: rgb(220,220,220);
    text-align: center;
}
h3{
    color: rgb(220,220,220);
}
p{
    color: rgb(220,220,220);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar li{
    float: left;
}
.navbar ul{
    list-style-type:none;
    background-color: rgb(66,66,66);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(220,220,220);
    text-decoration:none;
    padding:15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(99,99,99);
}


footer{
    margin-left: 20px;
    margin-right: 20px;
}

button{
    background-color: rgb(50, 50, 50);
    border-radius: 13px;
    height:60px;
    width: 100px;
    border-color: rgb(33, 33, 33);
    
}
.centered-container{
    display: flex;
    justify-content: space-around;
   
}
.link-container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:800px){
    .link-container{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        
    }
    .centered-container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}