body{
    background-color : rgb(33, 33, 33);
    background-size: cover;
}
h1{
    color: rgb(220,220,220);
    text-align: center;
}
h2{
    color: rgb(220,220,220);
    text-align: center;
}
p{
    color: rgb(220,220,220);
    text-align: center;
}
#p2{
    color: rgb(220,220,220);
    text-align: left;
}
#p1{
    color: rgb(220,220,220);
    text-align: right;
}
.link-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
   
}
.images_and_video{
    padding-top: 60%;
    padding-bottom: 20% ;
    object-fit: cover;
}
#image1{
    padding-left: 0%;
    padding-right: 50%;
}
#video1{
    padding-left: 50%;
    padding-right: 0%;
}